.nav-logo {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 3rem 5rem 3rem 3rem;
}

.logo-img {
	height: 70%;
	object-fit: cover;
	object-position: center;
}
